body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
header{
    
background: #87e0fd; /* Old browsers */
background: -moz-linear-gradient(left,  #87e0fd 0%, #53cbf1 50%, #05abe0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #87e0fd 0%,#53cbf1 50%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #87e0fd 0%,#53cbf1 50%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 */

}
.standard_properties
{
    width: 1170px;
    margin: 0 auto;
}
.header{
   
}

.logo{
    padding-top: 65px;
    margin-bottom: 140px; 
}
.container{
  
    display: flex;
    justify-content: space-between;
}
.container-heading{
    font-size: 37px;
    color: #fff;
    margin-bottom: 50px;
}
.strong{
    font-size: 59px;
}
.container-info{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    margin-bottom: 43px;
    width: 400px;
}
.button{
    background-color: #ffd429;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 220px;
    height: 55px;
    border: none;
}
.content{
    flex: 1;
}

.main-menu{
    padding: 110px 0;
}
.main-menu-heading{
    font-size: 30px;
    text-align: center;
    padding-bottom: 70px;
   
}
.main-menu-items{
    display: flex;
    justify-content: space-between;
   
}
.menu-item{
    text-align: center;
    flex: 1;
    
}
.menu-item-heading{
    font-size: 19px;
}
.menu-item-info{
    font-size: 15px;
}
.mail{
    background-color: #ecf3f8;
}
.feedback{
    padding: 100px 0; 
 
  text-align: center;
 
}
.feedback-heading{
    font-size: 30px;
    padding-bottom: 60px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 332px;
    height: 46px;
    margin-bottom: 16px;
}
.button-2{
    width: 340px;
    height: 46px;
    background-color: #ffd429;
    font-family: 'Montserrat', sans-serif;
    border: none;
}
footer{
    background-color: #164d7a;
}

.footer{
    
    padding: 60px 375px; 
    
}
.footer-info{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
}